	

		h1, h2, span, nav a{
			font-family: 'Oswald', sans-serif;
		}
		h1 {
			color: rgb(2, 132, 130);
		}
		h2 {
			color: #ffd700;
		}
		nav {
			background: #808080;

		}
		.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
    	}
		nav a {
			background: #ffbf00;
			text-decoration: none;
			color: white;
			padding: 35px;
			display: inline-block;
			float: left;
		}
		nav a:hover {
			background-color: #ee5f3c;
		}
		nav li {
			list-style-type: none;
		}
		body {
			text-align: center;
			margin: auto 0;
		}
		.board {
			height: 50%;
			width: 50%;
		}
		.card, .card-flipped {
			height: 200px;
			width: 150px;
			border: 1px solid black;
			background-color: yellow;
			border-radius: 20px;
		}
		.card, .board, .card-flipped{
			display: inline-block;
			float: left;
			margin: 8%;
		}
		#name {
			color: #ff0000;

		}
		footer{
			background-color: #808080;
			clear: both;
			text-align: center;
		}
		img {
			max-width: 200px;
		}
		li {
			list-style-type: circle;
		}
		.fix {
			clear:both;
		}

		.wrapper {
			width: 100%;
			display: flex;
		    flex-direction: row;
		    flex-wrap: wrap;
		    justify-content: center;
		    align-items: center;
		}
		.about {
			display: inline-block;
			float: left;
			margin: 8%;
			width: 200px;
			height: 250px;
			border: 1px black solid;
			border-radius: 20px;
			padding: 20px;
		}